<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Gift</title>
    <link rel="stylesheet" th:href="@{/css/add-wishlist.css}" />

    <h1>Vi er i add gift</h1>
</head>
<body>
<h2>Add Gift</h2>

<form action="/wishlist/addWish" method="post">

    <label for="name">Navn</label><br>
    <input type="text" id="name" name="name" placeholder="Brændbil fra BR" required><br><br>

    <label for="price">Pris</label><br>
    <input type="number" id="price" name="price" placeholder="350" required><br><br>

    <label for="link">Link</label><br>
    <input type="text" id="link" name="link" placeholder="www.godennnn.com/brændbil"><br><br>

    <label for="description">Beskriv dit ønske</label><br>
    <textarea id="description" name="description" placeholder="Det skal være den røde brændbil."></textarea><br><br>

    <input type="hidden" name="wishlistKey" th:value="${addGift.wishlistKey}"/>

    <button type="submit">Lav Ønske</button>
    <a href="/wishlist/profile" class="btn btn--ghost">Cancel</a>

</form>
</body>
</html>