<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function myFunction() {
            navigator.clipboard.writeText("http://localhost:8080/wishlist/wishList");
        }
    </script>
</head>
<body>
<h1 th:text=" ønskeliste"></h1>
<div>
    <h2 th:text="username"></h2>
    <button onclick="myFunction()">Share</button>
    <button th:href="" th:text="Delete"></button>
    <button th:href="" th:text="Update"></button>
    <button th:href="" th:text="Add"></button>
</div>
<div th:each="">
    <div>
        <p th:text="Description"></p>
        <p th:text="price"></p>
    </div>
</div>
</body>
</html>